<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 这块等于dao接口的实现  namespace必须和接口的类路径一样 -->
<mapper namespace="com.spider.dao.PlotsMapper">

    <!-- 根据名称获取单元楼 -->
    <select id="findByName" parameterType="String" resultType="com.spider.entity.Plots">
        select name, hash
        from houses.plots where name=#{name}
    </select>

    <!-- 根据地块名称获取单元楼列表 -->
    <select id="findByFloorName" parameterType="String" resultType="com.spider.entity.Plots">
        select name, hash
        from houses.plots where pFloorName=#{name}
    </select>

    <!-- 插入单元楼 -->
    <insert id="insertPlots" parameterType="com.spider.entity.Plots" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `houses`.`plots` ( `name`, `fdcUrl`, `area`
        , `decoration`, `utilization`, `mortgage`, `salePermit`, `landUseCertificate`
        , `planningPermit`, `constructionPermit`, `pFloorId`, `pFloorName`, `hash`)
        VALUES (#{name}, #{fdcUrl}, #{area}, #{decoration}, #{utilization}
        , #{mortgage}, #{salePermit}, #{landUseCertificate}, #{planningPermit}
        , #{constructionPermit}, #{pFloorId}, #{pFloorName}, #{hash})
    </insert>

    <!-- 更新单元楼 -->
    <update id="updatePlots" parameterType="com.spider.entity.Plots">
        UPDATE houses.plots
        SET fdcUrl=#{fdcUrl}, area=#{area}, decoration=#{decoration}, utilization=#{utilization}, mortgage=#{mortgage},
         salePermit=#{salePermit}, landUseCertificate=#{landUseCertificate}, planningPermit=#{planningPermit},
         constructionPermit=#{constructionPermit}, pFloorId=#{pFloorId}, pFloorName=#{pFloorName}, hash=#{hash}
        WHERE name=#{name}
    </update>



    <resultMap id="plotsResult" type="com.spider.entity.Plots">
        <result property="name" column="name"/>
        <result property="fdcUrl" column="fdcUrl"/>
        <result property="area" column="area"/>
        <result property="decoration" column="decoration"/>
        <result property="utilization" column="utilization"/>
        <result property="mortgage" column="mortgage"/>
        <result property="salePermit" column="salePermit"/>
        <result property="landUseCertificate" column="landUseCertificate"/>
        <result property="planningPermit" column="planningPermit"/>
        <result property="constructionPermit" column="constructionPermit"/>
        <result property="pFloorId" column="pFloorId"/>
        <result property="pFloorName" column="pFloorName"/>
        <result property="hash" column="hash"/>
    </resultMap>

    <select id="select" parameterType="Map" resultMap="plotsResult" resultType="com.spider.entity.Plots">
        select name, hash
        from houses.plots PLOTS
        where 1 = 1
        <if test="name != null">
            and PLOTS.name=#{name}
        </if>
        <if test="hash != null">
            and PLOTS.hash=#{hash}
        </if>
        <if test="pHousesName != null">
            and PLOTS.pHousesName=#{pHousesName}
        </if>
    </select>


    <sql id="insertKey">
        <trim suffixOverrides=",">
            <if test="name!=null"> name, </if>
            <if test="fdcUrl!=null"> fdcUrl, </if>
            <if test="area!=null"> area, </if>
            <if test="decoration!=null"> decoration, </if>
            <if test="utilization!=null"> utilization, </if>
            <if test="mortgage!=null"> mortgage, </if>
            <if test="salePermit!=null"> salePermit, </if>
            <if test="landUseCertificate!=null"> landUseCertificate, </if>
            <if test="planningPermit!=null"> planningPermit, </if>
            <if test="constructionPermit!=null"> constructionPermit, </if>
            <if test="pFloorId!=null"> pFloorId, </if>
            <if test="pFloorName!=null"> pFloorName, </if>
            <if test="hash!=null"> hash, </if>
        </trim>
    </sql>
    <sql id="insertValue">
        <trim suffixOverrides=",">
            <if test="name!=null"> #{name}, </if>
            <if test="fdcUrl!=null"> #{fdcUrl}, </if>
            <if test="area!=null"> #{area}, </if>
            <if test="decoration!=null"> #{decoration}, </if>
            <if test="utilization!=null"> #{utilization}, </if>
            <if test="mortgage!=null"> #{mortgage}, </if>
            <if test="salePermit!=null"> #{salePermit}, </if>
            <if test="landUseCertificate!=null"> #{landUseCertificate}, </if>
            <if test="planningPermit!=null"> #{planningPermit}, </if>
            <if test="constructionPermit!=null"> #{constructionPermit}, </if>
            <if test="pFloorId!=null"> #{pFloorId}, </if>
            <if test="pFloorName!=null"> #{pFloorName}, </if>
            <if test="hash!=null"> #{hash}, </if>
        </trim>
    </sql>

    <insert id="insert" parameterType="com.spider.entity.Plots" useGeneratedKeys="true" keyProperty="id">
        insert into houses.plots (<include refid="insertKey"/>) values(<include refid="insertValue"/>);
    </insert>

    <update id="update" parameterType="com.spider.entity.Plots">
        update houses.plots
        <set>
            <if test="fdcUrl!=null"> fdcUrl=#{fdcUrl}, </if>
            <if test="area!=null"> area=#{area}, </if>
            <if test="decoration!=null"> decoration=#{decoration}, </if>
            <if test="utilization!=null"> utilization=#{utilization}, </if>
            <if test="mortgage!=null"> mortgage=#{mortgage}, </if>
            <if test="salePermit!=null"> salePermit=#{salePermit}, </if>
            <if test="landUseCertificate!=null"> landUseCertificate=#{landUseCertificate}, </if>
            <if test="planningPermit!=null"> planningPermit=#{planningPermit}, </if>
            <if test="constructionPermit!=null"> constructionPermit=#{constructionPermit}, </if>
            <if test="pFloorId!=null"> pFloorId=#{pFloorId}, </if>
            <if test="pFloorName!=null"> pFloorName=#{pFloorName}, </if>
            <if test="hash!=null"> hash=#{hash}, </if>
        </set>
        where name = #{name}
    </update>

</mapper>
