<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 这块等于dao接口的实现  namespace必须和接口的类路径一样 -->
<mapper namespace="com.spider.dao.RebMapper">

    <!-- 根据名称获取房产商 -->
    <select id="findByName" parameterType="String" resultType="com.spider.entity.Reb">
        select name, hash
        from houses.reb where name=#{name}
    </select>

    <!-- 插入房产商 -->
    <insert id="insertReb" parameterType="com.spider.entity.Reb" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `houses`.`reb` ( `name`, `fdcUrl`, `qualificationLevel`
        , `qualificationId`, `legalPerson`, `address`, `phone`, `mail`
        , `registeredCapital`, `type`, `introduction`, `hash`)
        VALUES (#{name}, #{fdcUrl}, #{qualificationLevel}, #{qualificationId}, #{legalPerson}
        , #{address}, #{phone}, #{mail}, #{registeredCapital}
        , #{type}, #{introduction}, #{hash})
    </insert>

    <!-- 更新房产商 -->
    <update id="updateReb" parameterType="com.spider.entity.Reb">
        UPDATE houses.reb
        SET fdcUrl=#{fdcUrl}, qualificationLevel=#{qualificationLevel}, qualificationId=#{qualificationId},
         legalPerson=#{legalPerson}, address=#{address}, phone=#{phone}, mail=#{mail},
          registeredCapital=#{registeredCapital}, type=#{type}, introduction=#{introduction}, hash=#{hash}
        WHERE name=#{name}
    </update>


    <resultMap id="rebResult" type="com.spider.entity.Reb">
        <result property="name" column="name"/>
        <result property="fdcUrl" column="fdcUrl"/>
        <result property="qualificationLevel" column="qualificationLevel"/>
        <result property="qualificationId" column="qualificationId"/>
        <result property="legalPerson" column="legalPerson"/>
        <result property="address" column="address"/>
        <result property="phone" column="phone"/>
        <result property="mail" column="mail"/>
        <result property="registeredCapital" column="registeredCapital"/>
        <result property="type" column="type"/>
        <result property="introduction" column="introduction"/>
        <result property="hash" column="hash"/>
    </resultMap>

    <select id="select" parameterType="Map" resultMap="rebResult" resultType="com.spider.entity.Reb">
        select name, hash
        from houses.reb REB
        where 1 = 1
        <if test="name != null">
            and REB.name=#{name}
        </if>
        <if test="hash != null">
            and REB.hash=#{hash}
        </if>
        <if test="qualificationId != null">
            and REB.qualificationId=#{qualificationId}
        </if>
    </select>


    <sql id="insertKey">
        <trim suffixOverrides=",">
            <if test="name!=null"> name, </if>
            <if test="fdcUrl!=null"> fdcUrl, </if>
            <if test="qualificationLevel!=null"> qualificationLevel, </if>
            <if test="qualificationId!=null"> qualificationId, </if>
            <if test="legalPerson!=null"> legalPerson, </if>
            <if test="address!=null"> address, </if>
            <if test="phone!=null"> phone, </if>
            <if test="mail!=null"> mail, </if>
            <if test="registeredCapital!=null"> registeredCapital, </if>
            <if test="type!=null"> type, </if>
            <if test="introduction!=null"> introduction, </if>
            <if test="hash!=null"> hash, </if>
        </trim>
    </sql>
    <sql id="insertValue">
        <trim suffixOverrides=",">
            <if test="name!=null"> #{name}, </if>
            <if test="fdcUrl!=null"> #{fdcUrl}, </if>
            <if test="qualificationLevel!=null"> #{qualificationLevel}, </if>
            <if test="qualificationId!=null"> #{qualificationId}, </if>
            <if test="legalPerson!=null"> #{legalPerson}, </if>
            <if test="address!=null"> #{address}, </if>
            <if test="phone!=null"> #{phone}, </if>
            <if test="mail!=null"> #{mail}, </if>
            <if test="registeredCapital!=null"> #{registeredCapital}, </if>
            <if test="type!=null"> #{type}, </if>
            <if test="introduction!=null"> #{introduction}, </if>
            <if test="hash!=null"> #{hash}, </if>
        </trim>
    </sql>

    <insert id="insert" parameterType="com.spider.entity.Reb" useGeneratedKeys="true" keyProperty="id">
        insert into houses.reb (<include refid="insertKey"/>) values(<include refid="insertValue"/>);
    </insert>


    <update id="update" parameterType="com.spider.entity.Reb">
        update houses.reb
        <set>
            <if test="fdcUrl!=null"> fdcUrl=#{fdcUrl}, </if>
            <if test="qualificationLevel!=null"> qualificationLevel=#{qualificationLevel}, </if>
            <if test="qualificationId!=null"> qualificationId=#{qualificationId}, </if>
            <if test="legalPerson!=null"> legalPerson=#{legalPerson}, </if>
            <if test="address!=null"> address=#{address}, </if>
            <if test="phone!=null"> phone=#{phone}, </if>
            <if test="mail!=null"> mail=#{mail}, </if>
            <if test="registeredCapital!=null"> registeredCapital=#{registeredCapital}, </if>
            <if test="type!=null"> type=#{type}, </if>
            <if test="introduction!=null"> introduction=#{introduction}, </if>
            <if test="hash!=null"> hash=#{hash}, </if>
        </set>
        where name = #{name}
    </update>


</mapper>
